{% extends "base.html" %}
{% block title %}New Post - Xyloid Admin{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='simplemde.min.css') }}">
<script src="{{ url_for('static', filename='simplemde.min.js') }}"></script>
{% endblock %}
{% block body %}
<main class="form">
	<div class="inputgroup">
		<label for="name">Post name: </label>
		<input name="name" type="text" id="nameinput">
	</div>
	<div class="simplemde">
		<textarea class="simplemde" id="mde"></textarea>
	</div>
	<div class="button" onclick="createPost()">Create</div>
</main>
<script>
var simplemde = new SimpleMDE({ element: document.getElementById("mde") });
function createPost() {
	var name = document.getElementById("nameinput").value;
	var content = simplemde.value();
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
			var j = JSON.parse(this.responseText);
			var uuid = j.uuid;
			window.location.href = "{{ url_for('post.by_uuid', uuid='') }}" + uuid;
		}
	};
	var data = {name: name, content: content};
	xhttp.open("POST", "{{ url_for('api.create_post') }}", true);
	xhttp.setRequestHeader("Content-Type", "application/json");
	xhttp.send(JSON.stringify(data));
}
</script>
{% endblock %}
