{% extends "admin_base.html" %}
{% block title %}Posts{% endblock %}
{% block head %}
<script src="{{ url_for('static', filename='moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='moment-timezone-with-data.min.js') }}"></script>
<script>
	function fetchPage(page = 1) {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var j = JSON.parse(this.responseText);
				for (var i = 0; i < j.length; i++) {
					var tr = document.createElement("tr");
					var name = document.createElement("td");
					name.innerText = j[i].name;
					var uuid = document.createElement("td");
					uuid.innerText = j[i].uuid;
					var shortlink = document.createElement("td");
					var shortlink_a = document.createElement("a")
					shortlink_a.href = "{{ url_for('post.by_shortlink', shortlink='') }}" + j[i].shortlink;
					shortlink_a.innerText = j[i].shortlink;
					shortlink.appendChild(shortlink_a);
					var uuid = document.createElement("td");
					var uuid_a = document.createElement("a")
					uuid_a.href = "{{ url_for('post.by_uuid', uuid='') }}" + j[i].uuid;
					uuid_a.innerText = j[i].uuid;
					uuid.appendChild(uuid_a);
					var created = document.createElement("td")
					var localDate = moment(j[i].created).format("DD/MM/YYYY H:mm");
					created.innerText = localDate;
					var actions = document.createElement("td");
					var action_edit = document.createElement("a");
					action_edit.innerText = "Edit";
					action_edit.href = "{{ url_for('admin.edit', uuid='') }}" + j[i].uuid;
					action_edit.classList.add("px-2");
					actions.appendChild(action_edit);
					var action_delete = document.createElement("a");
					action_delete.innerText = "Delete";
					action_delete.setAttribute("onclick", "confirmDelete('" + j[i].uuid + "')");
					action_delete.classList.add("px-2", "cursor-pointer");
					actions.appendChild(action_delete);
					var categories = document.createElement("td");
					categories.innerText = j[i].categories.filter(Boolean).join(", ");
					if (categories.innerText == "")
						categories.innerText = "uncategorized";
					name.classList.add("px-4", "py-2", "border", "border-2px", "border-gray-500", "border-solid");
					uuid.classList.add("px-4", "py-2", "border", "border-2px", "border-gray-500", "border-solid");
					shortlink.classList.add("px-4", "py-2", "border", "border-2px", "border-gray-500", "border-solid");
					created.classList.add("px-4", "py-2", "border", "border-2px", "border-gray-500", "border-solid");
					categories.classList.add("px-4", "py-2", "border", "border-2px", "border-gray-500", "border-solid");
					actions.classList.add("px-4", "py-2", "border", "border-2px", "border-gray-500", "border-solid", "text-center");
					if (i % 2 == 1) {
						tr.classList.add("bg-gray-200");
					}
					tr.classList.add("hover:bg-gray-400");
					tr.appendChild(name);
					tr.appendChild(uuid);
					tr.appendChild(shortlink);
					tr.appendChild(created);
					tr.appendChild(categories);
					tr.appendChild(actions);
					document.getElementById("postsbody").appendChild(tr);
				}
			}
		};
		xhttp.open("GET", "{{ url_for('api.all_posts') }}" + "/" + page, true);
		xhttp.send();
	}
	function confirmDelete(uuid) {
		var c = window.confirm("Are you sure you want to delete the post with uuid " + uuid + "?");
		if (c) {
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (this.readyState == 4 && this.status == 200) {
					goToPage(page);
				}
			}
			xhttp.open("GET", "{{ url_for('api.delete_post', uuid='') }}" + uuid, true);
			xhttp.send();
		}
	}
</script>
<script>
	var page = 0;
	var pages = 1;
	function clearTable() {
		document.getElementById("postsbody").innerHTML = "";
	}
	function setActivePage(page = 1) {
		if (pages <= 10) {
			document.getElementById("pagination").innerHTML = "";
			addFirstPrev();
			for (var i = 1; i <= pages; i++) {
				var a = document.createElement("a");
				a.innerText = i;
				a.setAttribute("onclick", "goToPage(" + i + ")");
				if (i == page) {
					a.classList.add("active");
				}
				document.getElementById("pagination").appendChild(a);
			}
			addNextLast();
		}
		else {
			var p = document.getElementById("pagination");
			p.innerHTML = "";
			addFirstPrev();
			var dots = document.createElement("div");
			dots.innerText = "...";
			if ((page - 3) > 1) {
				p.appendChild(dots);
			}
			for (var i = Math.max(page - 3, 1); i <= Math.min(page + 3, pages); i++) {
				var a = document.createElement("a");
				a.innerText = i;
				a.setAttribute("onclick", "goToPage(" + i + ")");
				if (i == page) {
					a.classList.add("active");
				}
				p.appendChild(a);
			}
			var dots = document.createElement("div");
			dots.innerText = "...";
			if ((page + 3) < pages) {
				p.appendChild(dots);
			}
			addNextLast();
		}
	}
	function goToPage(inPage = 1) {
		page = inPage;
		clearTable();
		fetchPage(page);
		setActivePage(page);
	}
	function goToPageDelta(delta = 0) {
		console.log("delta");
		page += delta;
		if (page < 1)
			page = 1;
		if (page > pages)
			page = pages;
		goToPage(page);
	}
	function addFirstPrev() {
		var p = document.getElementById("pagination");
		var first = document.createElement("a");
		first.innerText = "First";
		first.onclick = function() {
			goToPage(1);
		}
		var prev = document.createElement("a");
		prev.innerText = "Prev";
		prev.onclick = function() {
			goToPageDelta(-1);
		}
		p.appendChild(first);
		p.appendChild(prev);
	}
	function addNextLast() {
		var p = document.getElementById("pagination");
		var next = document.createElement("a");
		next.innerText = "Next";
		next.onclick = function() {
			goToPageDelta(1);
		}
		var last = document.createElement("a");
		last.innerText = "Last";
		last.onclick = function() {
			goToPage(pages);
		}
		p.appendChild(next);
		p.appendChild(last);
	}
	function paginationInit() {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				pages = Math.ceil(Number(this.responseText) / 20);
				goToPage(1);
				console.log("pi");
			}
		}
		xhttp.open("GET", "{{ url_for('api.posts_count') }}", true);
		xhttp.send();
	}
	function init() {
		paginationInit();
	}
	document.addEventListener("load", init());
</script>
{% endblock %}
{% block body %}
<main>
	<p class="text-center mr-auto ml-auto my-4">Posts</p>
	<table id="posts" class="table-auto mr-auto ml-auto my-8">
		<thead>
			<tr>
				<th class="px-4 py-2">Name</th>
				<th class="px-4 py-2">UUID</th>
				<th class="px-4 py-2">Shortlink</th>
				<th class="px-4 py-2">Created</th>
				<th class="px-4 py-2">Categories</th>
				<th class="px-4 py-2">Actions</th>
			</tr>
		</thead>
		<tbody id="postsbody">
		</tbody>
	</table>
	<div class="text-center">
		<div class="pagination" id="pagination">
		</div>
	</div>
</main>
{% endblock %}
