/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */

header {
	display: block;
	width: 100%;
	height: 3em;
	background-color: gray;
}

.message {
	padding: 1em;
	background-color: pink;
	border: 2px solid red;
	margin: 1em;
	border-radius: 0.text-align: center;
	text-align: center;
	border-radius: 0.5em;
}

.button {
	display: inline-block;
	cursor: pointer;
}

@media screen and (max-width: 800px) {
	main {
		padding-left: 2em !important;
		padding-right: 2em !important;
	}
}

.pagination {
  display: inline-block;
}

.pagination a, .pagination div {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #aaa;
}

.pagination a.active {
  background-color: #999;
  color: white;
  border: 1px solid #999;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination a {
	cursor: pointer;
}

.pagination a.active, .pagination div {
	cursor: default;
}

#postcategories a::after, .postcategories span::after {
	content: ", ";
}

#postcategories a:last-child::after, .postcategories span:last-child::after {
	content: "";
}

.postcard {
	width: 24em;
}
